@font-face {
    src: url(../fonts/Roboto-Medium.ttf);
    font-family: roboto;
}

@font-face {
    src: url(../fonts/Roboto-Regular.ttf);
    font-family: roboto-r;
}

@font-face {
    src: url(../fonts/Roboto-Light.ttf);
    font-family: roboto-l;
}

@font-face {
    src: url(../fonts/Roboto-Bold.ttf);
    font-family: roboto-b;
}

@font-face {
    src: url(../fonts/Roboto-Medium.ttf);
    font-family: roboto-m;
}

@font-face {
    src: url(../fonts/Nexa\ Bold.otf);
    font-family: nexa;
}

@font-face {
    src: url(../fonts/UniNeue-HeavyItalic.ttf);
    font-family: uni;
}

@font-face {
    src: url(../fonts/Prometo\ Light.otf);
    font-family: prometo-l;
}

html, body {
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    overflow-x: hidden;
}

/* HomePage */

/* Hero Section */

.bg-padding {
    padding-bottom: 4%;
    padding-top: 4%;
}

.car-head img {
    width: 90%;
}

.mg-top80 {
    margin-top: -100px;
}

.anilatic img {
    width: 50%;
}

.textcolor {
    color: #ff5b37;
    font-family: nexa;
}

.brand-color {
    color: #03a4ed;
}

/*margin left and right 60 px*/

.mg-LR60 {
    margin-left: 60px;
    margin-right: -60px;
}

.pdt-100 {
    padding-top: 100px;
}

.mgt {
    margin-top: 60px;
}

nav img {
    width: 13%;
}

.bg-img {
    background-image: url("../images/HomePage/curve.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: padding-box;
}

.bg-img h1 {
    text-transform: uppercase;
}

.pdt-30 {
    margin-top: 1%;
}

.phone {
    text-align: end;
}

.headpara h1 {
    font-family: uni;
    font-size: 36px;
}

.headpara p {
    font-family: prometo-l;
    font-size: 22px;
    text-align: left;
    margin-top: 5%;
    text-transform: uppercase;
    font-family: 400;
}

.brands-strats h5 {
    font-size: 16px;
    font-family: uni;
    margin-top: 15px;
}

.driver {
    background-image: linear-gradient(to left, #008DFF, #00A3FF) !important;
    color: #ffff !important;
    padding: 8px 30px;
    border-radius: 10px !important;
    margin-top: 54px !important;
    font-family: roboto-r;
    font-size: 14px;
    margin-right: 31px;
}

/* Hero Section */

/* What Do We Us */

.section2 {
    margin-top: -70px;
    margin-bottom: 50px;
}

.section2 h1 {
    font-family: uni;
    text-transform: uppercase;
    color: #03a4ed;
    ;
}

.section2 h2 {
    font-family: uni;
    text-transform: uppercase;
    font-size: 28px;
    color: #03a4ed;
    ;
}

.section2 h4 {
    font-family: nexa-r;
    font-size: 22px;
}

.playgo img {
    width: 20% !important;
}

.section2 p {
    font-family:roboto-r;
    font-size: 16px;
}

.section2 h5 {
    text-transform: uppercase;
}
.markdown p{
    font-size: 14px !important;
}
.markdown img{
   width: 18px;
   height: 18px;
   margin-right: 5px;
}
.m-100 {
    margin-top: 40px;
}

.btn_learn {
    background-image: linear-gradient(to right, #03a4ed, #6497B1) !important;
    color: #ffff !important;
    padding: 6px 30px;
    border-radius: 15px;
    font-family: roboto-m;
    font-size: 14px;
    border: 1px solid transparent;
}

.bg-4 {
    background-image: url("../images/HomePage/carCurve.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: padding-box;
}

.carCurve-p {
    padding-bottom: 140px;
}

.section-3 h3 {
    font-family: nexa;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 25px;
}

.section-3 img {
    width: 80%;
    padding: 0px;
    margin: 0px;
}

.section-3 h5 {
    font-family: uni;
    /* color: #03a4ed; */
}

.section-3 p {
    text-align: justify !important;
    text-justify: inter-word !important;
    font-family: roboto-l;
    font-size: 15px;
}

.section-4 h4 {
    font-family: uni;
    text-transform: uppercase;
}

.section-4 p {
    font-size: 16px !important;
    font-family: roboto;
    font-weight: 500;
    margin-top: 20px !important;
}

.progress-skill-bar .filled-bar {
    background: linear-gradient(to left, #03a4ed, #6497B1) !important;
    height: 6px;
    border-radius: 3px;
    margin-bottom: -6px;
    position: relative;
    z-index: 2;
}

.progress-skill-bar {
    width: 100%;
}

.progress-skill-bar .full-bar {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #f7eff1;
    position: relative;
    z-index: 1;
}

.first-bar .filled-bar {
    width: 25%;
}

.first-bar span {
    margin-left: 10%;
}

.second-bar .filled-bar {
    width: 50%;
}

.second-bar span {
    margin-left: 30%;
}

.third-bar .filled-bar {
    width: 70%;
}

.third-bar span {
    margin-left: 70%;
}

.fourth-bar .filled-bar {
    width: 98%;
}

.fourth-bar span {
    margin-left: 94%;
}

.progress-skill-bar span {
    /* position: absolute; */
    top: 0;
    font-size: 18px;
    font-weight: 600;
    color: #03a4ed;
}

.primary_img img {
    width: 80%;
}

.max-40 {
    max-width: 32% !important;
}

.margin_neg {
    margin-top: -20px;
}

.margin-50 {
    margin-top: 100px;
}

.margin-30 {
    margin-top: 80px;
}

.curve_p {
    padding-bottom: 280px;
}

.brands h1 {
    font-size: 48px;
    font-family: roboto-b;
    margin-bottom: 26px;
}

.brands h1 span {
    font-size: 48px;
    font-family: roboto-b;
    color: #FD3F3F;
}

.brands p small {
    font-size: 16px;
    margin: 0px !important;
    font-family: roboto-r;
}

.brands p {
    margin: 0px !important;
}

.carVar img {
    width: 148px;
    height: 44px;
    margin-top: 46px;
    margin-bottom: 46px;
}

.ml-12 {
    margin-left: 12px !important;
}

.carVar h2 {
    font-family: roboto;
    font-size: 26px;
    margin-bottom: 31px;
}

.carVar h2 span {
    font-family: roboto;
    font-size: 26px;
    color: #FD3F3F;
}

.carVar p {
    margin: 0px;
    font-family: roboto-r;
    font-size: 16px;
}

.downLoad_ins {
    font-size: 16px;
    text-transform: uppercase;
}

.mt-80 {
    margin-top: 80px;
}

/*  */
.forDrivers{
    margin-top: 70px;
}

.company_location {
    margin-left: 10px;
}
.company_location p{
    margin:0px !important;
}







/* Extra Large Device */

@media (max-width: 1399.98px) {
    .fourth-bar span {
        margin-left: 68%;
    }
    .third-bar span {
        margin-left: 40%;
    }
}

/* Large Devices */

@media (max-width: 1199.98px) {
    .fourth-bar span {
        margin-left: 68%;
    }
    .third-bar span {
        margin-left: 40%;
    }
}

/*small  Laptop */

@media (max-width: 991.98px) {
    .fourth-bar span {
        margin-left: 54%;
    }
    .third-bar span {
        margin-left: 40%;
    }
    .driver {
        margin-top: 25px !important;
        margin-right: 10px;
    }
}

/* Pad or Landscpae Mobile */

@media (max-width: 767.98px) {
    .margin-30 {
        margin-top: 0px;
    }
    .margin_neg {
        margin-top: 0px;
        display: flex;
        align-items: center;
    }
    .fourth-bar span {
        margin-left: 34%;
    }
    .third-bar span {
        margin-left: 25%;
    }
    .second-bar span {
        margin-left: 24%;
    }
    .first-bar span {
        margin-left: 10%;
    }
    .margin-50 {
        margin-top: 70px;
    }
    .section-4 h4 {
        font-family: uni;
        text-transform: uppercase;
        font-size: 22px;
    }
    .bg-4 {
        background-image: none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-origin: padding-box;
    }
    .car-head img {
        width: 100%;
        margin-top: 50px;
    }
    .driver {
        margin-top: 25px !important;
        margin-right: 10px;
    }
    nav img {
        width: 20%;
    }
}

/* Small devices or Mobile */

@media (max-width: 575.98px) {
    .margin_neg {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
    .margin-50 {
        margin-top: 70px;
    }
    .section-4 h4 {
        font-family: uni;
        text-transform: uppercase;
        font-size: 22px;
    }
    .fourth-bar span {
        margin-left: 2%;
    }
    .third-bar span {
        margin-left: 2%;
    }
    .second-bar span {
        margin-left: 2%;
    }
    .first-bar span {
        margin-left: 2%;
    }
    .bg-img {
        background-size: cover;
    }
    .curve_p {
        padding-bottom: 110px;
    }
    .section2 h1 {
        margin-top: 60px;
    }
    .driver {
        margin-top: 25px !important;
        margin-right:5px;
    }
    .brands h1 span {
        font-size: 35px;
        font-family: roboto-b;
        color: #FD3F3F;
    }
    .brands p small {
        font-size: 14px;
    }
    .car-head img {
        width: 100%;
        margin-top: 50px;
    }
    .brands h1 {
        font-size: 35px;
    }
    .carVar h2 {
        font-size: 22px;
    }
    .carVar h2 span {
        font-size: 22px;
    }
    .carVar p {
        font-size: 12px;
    }
    .downLoad_ins {
        font-size: 13px;
        text-transform: uppercase;
    }
    .forAdsvertiser img{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .forAdsvertiser{
       
        display: flex;
        justify-content: center;
    }
    .forDrivers{
        
        display: flex;
        justify-content: center;
    }
    .forDrivers img{
     margin-bottom: 50px;
    }
    .carCurve-p {
        padding-bottom: 0px;
    }
    .headpara p {
        font-family: prometo-l;
        font-size: 18px;
        text-align: left;
        margin-top: 5%;
        text-transform: uppercase;
        font-family: 400;
    }
    .headpara h1 {
        font-family: uni;
        font-size: 24px;
    }
    .section2 h1 {
        font-size: 24px;
    }
    .section2 h5 {
        text-transform: uppercase;
        font-size: 18px;
    }
    .section2 h2 {
     
        font-size: 23px;
      
    }
    .section2 h4 {
        font-family:roboto-r;
        font-size: 18px;
    }
    .section2 p {
        font-family: roboto-r;
        font-size: 14px;
    }
    .markdown p {
        font-size: 12px !important;
    }
    .section-3 h5 {
     
       font-size: 20px;
    }
    .section-3 p {
      
        font-size: 14px;
    }
    section-4 h4 {
        margin-top: 50px;
    }
    .links{
        margin-bottom: 20px;
    }
    nav img {
        width: 30%;
    }
    .forAdsvertiser img {
        margin-top: 50px;
        display: flex;
        height: 220px;
        width: 100%;
        justify-content: center;
        object-fit: contain;
    }
    .forDrivers img{
        height: 220px;
        width: 100%;
        justify-content: center;
        object-fit: contain;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .5rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}