/*==============fOOTER STARTS========================*/

@font-face {
    src: url(../../assets/fonts/Roboto-Medium.ttf);
    font-family: roboto;
}

@font-face {
    src: url(../../assets/fonts/Roboto-Regular.ttf);
    font-family: roboto-r;
}

@font-face {
    src: url(../../assets/fonts/Roboto-Light.ttf);
    font-family: roboto-l;
}

@font-face {
    src: url(../../assets/fonts/Roboto-Bold.ttf);
    font-family: roboto-b;
}
@font-face {
    src: url(../../assets/fonts/Roboto-Medium.ttf);
    font-family: roboto-m;
}

footer {
    color: #ffff;
}

footer p {
    font-size: 15px;
    font-family: roboto-r;
}

footer h4 {
    margin-bottom: 20px;
    font-family: roboto-b;
    font-size: 18px;
}

.footer-bg {
    background-color: #03a4ed;
    padding-top: 50px;
    padding-bottom: 50px;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 1px;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
    margin-top: 10px !important;
}

.links p {
    font-size: 13px;
    font-family: roboto-r;
    color: #ffff;
    margin-bottom: 6px;
}

.linkss p {
    font-size: 13px;
    font-family: roboto-r;
    color: #ffff;
    margin-bottom: 23px;
}

.links a {
    color: #ffff;
    text-decoration: none;
}

.intro p {
    font-size: 13px;
    font-family: roboto-r;
}

#int {
    width: 30%;
    margin-bottom: 15px;
}

.playy img {
    width: 30%;
}

.play img {
    width: 60%;
}

hr {
    margin-top: 100px;
}

.footer_driver {
    background-color: transparent;
    color: #ffff;
    padding: 7px 25px;
    border-radius: 25px;
    font-family: roboto-m;
    font-size: 14px;
    border: 2px solid white;
}

.footer_adviser {
    background-color: transparent;
    color: #ffff;
    padding: 7px 25px;
    border-radius: 25px;
    margin-left: 5%;
    font-family: roboto-m;
    font-size: 14px;
    border: 2px solid white;
}

.footer_driver:hover {
    background-color: white;
    color: black;
}

.footer_adviser:hover {
    background-color: white;
    color: black;
}

